/* NATIONAL LEARN TO SWIM WEEK STYLE SHEET */

/* Color codes sampled from logo
        Blue: #0066ff
        Green: #008000
        Yellow: #f7d14a
        #ba0c0b RED
        #017f02 DARK GREEN
        e5f0ff light blue
        fceebd light yellow
        e8ffe8 light green


*/

body {
    font-family: "Roboto Slab","georgia",serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    background-image: url("../img/blue-bg.png");
    background-repeat: repeat;
}


.h1, h1 {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 50px;
    text-align: center;
    color: #008000;
    margin-top: 10px;
    margin-bottom: 25px;
}

.h2, h2 {
    font-family: "Roboto","Arial",sans-serif;
    font-size: 26px;
    text-align: left;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
}

.littlehdr {
    font-family: "Roboto Condensed","Arial",sans-serif;
    font-size: 20px;
}


hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #0066ff;
}

/* CHANGE COLOUR OF THE NAVBAR */
.navbar-default {
    background-color: #fff;
    border-color: #0066ff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #0066ff;
    background-color:#fceebd;
}

.navbar-nav {
    float: left;
    margin: 10px;
}


img {
  border: 1px solid #0066ff;
  padding: 5px;
  margin: 10px;
}

.img-responsive {
    max-width: auto;
}


/* Styles the navbar logo */
.navlogo {
    border: none;
    padding: 0;
    margin: 10px 10px 10px 0;
}

/* Removes img border */
.noborder {
    border:none;
}

/* Set the fixed height of the footer here */
#push,

#footer {
  height: auto;
}

#footer {
    background-color: #fff;
    border-top: #0066ff 1px solid;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

.ftr {
    margin-top: 25px;
}

form {
    display: block;
    margin-top: 25px;
}

input {
    margin-bottom: 10px;
}

/* Change text and highlight colour on selection */

::-moz-selection { 
background-color: #BA9EB0; 
color: #ffffff;
}

::selection {
background-color: #BA9EB0;
color: #ffffff;
}

  
        
 /* Color codes sampled from logo
        Blue: #0066ff
        Green: #008000
        Yellow: #f7d14a
        #ba0c0b RED
        #017f02 DARK GREEN
        e5f0ff light blue
        fceebd light yellow
        e8ffe8 light green


*/