/* National Learn To Swim Styles */

/* Theme colours

Green  #008000
Blue #0066ff
Yellow #f7d14a 

*/

.navbar-brand {
    float: left;
    padding: 10px 15px;
    height: 60px;
}


.navbar-default .navbar-nav > li > a {
    color: #0066ff;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #0066ff;
}



/* Change This 
.navbar {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
*/

/* JUMBOTRON */

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #f7f7f7;
}

.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 200;
}
.jumbotron > hr {
  border-top-color: #dedede;
}
.container .jumbotron {
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 72px;
  }
