/* Learn to Swim Week Styles */

body {
	font-family: 'Droid Serif', serif;
}

p {
    margin-bottom: 5px;
}

#headerwrap {
	background: url(../img/ltsw_header.jpg) no-repeat center top;
	margin-top: -50px;
	padding-top:120px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 540px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	margin-top: 90px;
	padding-bottom: 30px;
	font-size: 100px;
	font-weight: bold;
	text-shadow: 2px 2px 2px #000;
}

#headerwrap p {
	color:#ffffff;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	line-height: 40px;
	margin-left: 15px;
	text-shadow: 1px 1px 1px #000;
}

img.fw_img {
	width:100%;
	margin:0 auto;
}