/* Learn to Swim Week Styles */

body {
	font-family: 'Droid Serif', serif;
}

p {
    margin: 5px 0;
}

.white p {
    padding: 10px 0; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Sans", sans-serif;
    font-weight: 600;
    color: #008000;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#headerwrap {
	background: url(../img/ltsw_header.jpg) no-repeat center top;
	margin-top: -25px;
	padding-top:120px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 540px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap2 {
  background: url(../img/vol2.jpg) no-repeat center top;
  margin-top: -25px;
  padding-top:120px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 540px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap3 {
  background: url(../img/pool1.jpg) no-repeat center top;
  margin-top: -25px;
  padding-top:120px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 540px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#headerwrap p {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    margin-left: 15px;
    text-shadow: 1px 1px 1px #999;
    font-family: 'Montserrat', sans-serif;
}

#headerwrap2 p {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    margin-left: 15px;
    text-shadow: 1px 1px 1px #999;
    font-family: 'Montserrat', sans-serif;
}

#headerwrap3 p {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    margin-left: 15px;
    text-shadow: 1px 1px 1px #999;
    font-family: 'Montserrat', sans-serif;
}

img.fw_img {
	width:100%;
	margin:0 auto;
}

img.pad {
	margin-top: 40px;
	margin-bottom: 20px;
}

.navbar-inverse {
  background-color: #fff;
  border-color: #0066ff;
  color: #000;
  font-family: 'Montserrat', serif;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #000;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #0066ff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #0066ff;
}